{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class='col-md-6 mx-auto'>
        <h1>Defina a sua Password</h1>
        <form method='post' action=''>{% csrf_token %}
	        <p><label for="id_new_password1">Nova password:</label> <input type="password" name="new_password1" required="" id="id_new_password1"> <span class="helptext"></span></p><ul><li>A sua password não pode ser semelhante á sua informação pessoal.</li><li>A sua password deve conter pelo menos 8 caracteres.</li><li>A sua password não pode pode ser geralizadamente usada.</li><li>A sua password não pode ser inteiramente numérica.</li></ul><p></p>
			<p><label for="id_new_password2">Confirmar Nova Password:</label> <input type="password" name="new_password2" required="" id="id_new_password2"></p>
	        <span style='margin-bottom: 12px;'></span>
	        <button type="submit" class='btn btn-block btn-warning'>Guardar nova password</button>
        </form>
      </div>
</div>
{% endblock %}
