{% extends "base.html" %}

{% block content %}

	<div class='row'>
		<div class='col-12 col-md-6'>
			{% if object.image %}
				<img src='{{ object.image.url }}' class='img-fluid mt-5' />
			{% endif %}
		</div>
		<div class='col-12 col-md-6'>
			<h1 class='text-center my-5'>{{ object.title }}</h1>
			<h5>{{ object.description|linebreaks }}</h5> <br/>
			<h2 >{{ object.price }} €</h2><br/>
			{% include 'products/snippets/update_cart.html' with product=object cart=cart %}
		</div>
	</div>

{% endblock %}